name: Auto Merge PR

on:
  pull_request:
    types:
      - labeled
      - synchronize
      - opened
      - ready_for_review
      - reopened
  pull_request_review:
    types:
      - submitted
  check_suite:
    types:
      - completed

permissions:
  contents: write
  pull-requests: write

jobs:
  automerge:
    runs-on: ubuntu-latest
    steps:
      - name: Auto Merge
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MERGE_METHOD: SQUASH
          UPDATE_METHOD: rebase
          REQUIRED_LABELS: ""
          BLOCKING_LABELS: do-not-merge, wip
          REQUIRED_STATUS_CHECKS: true
          REQUIRED_APPROVALS: 1
