name: Auto Merge PR

on:
  pull_request_target:
    types:
      - labeled
      - synchronize
      - opened
      - ready_for_review
      - reopened
      - edited

permissions:
  contents: write
  pull-requests: write

jobs:
  label:
    if: github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    steps:
      - name: Add automerge label to PR
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.addLabels({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.payload.pull_request.number,
              labels: ['automerge']
            })

  automerge:
    if: github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    steps:
      - name: Generate GitHub App token
        id: generate-token
        uses: tibdex/github-app-token@v1
        with:
          app_id: ${{ secrets.AUTOMERGE_APP_ID }}
          private_key: ${{ secrets.AUTOMERGE_APP_PRIVATE_KEY }}

      - name: Auto Merge
        uses: pascalgn/automerge-action@v0.16.4
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
          MERGE_METHOD: SQUASH
          UPDATE_METHOD: rebase
          BLOCKING_LABELS: do-not-merge, wip
          REQUIRED_STATUS_CHECKS: true
          REQUIRED_APPROVALS: 1
          MERGE_RETRY_SLEEP: 60000
          MERGE_RETRIES: 360
